<!-- <h1>Juego del Amigo Invisible</h1>
<h3>Bienvenidos!</h3>

<ng-container *ngIf="contactoSeleccionado;else noSeleccionado">
    <h4>Tu amigo invisible es:  {{contactoSeleccionado.nombre}}</h4>
</ng-container>
<ng-template #noSeleccionado>
    <div>
    <p>Selecciona a tu amigo Invisible</p>
    </div>
</ng-template>

<a *ngIf="!token" routerLink="/login">Iniciar sesion</a>

<button (click)="navegarAContacts()">
    Ver todos tus contactos
</button>


 esto es un ejemplo de como se puede navegar a traves de los queryParams
<div>
<p>Filtros:</p>
<p><a [routerLink]="['/contacts']" [queryParams]="{sexo: 'mujer'}">Amigas</a></p>
<p><a [routerLink]="['/contacts']" [queryParams]="{sexo: 'hombre'}">Amigos</a></p>
</div> -->
<!-- para acceder a esta info tenemos que utilizar el activity route, de aqui nos vamos a contact.page -->

<app-login-form></app-login-form>